.form-control {
    border: 0;
    box-shadow: none;
    width:500px;
    border-bottom: thin solid #208AEC;
    border-radius:0;
   
}


.search-title{
    margin-bottom:24px;
    font-size: 2em;
}

.search-form{
    margin-bottom: 24px;
}
.search-form:focus {
    box-shadow: none;
}


.main-content {
    padding: 100px 0;
   
}

.error-title{
    font-weight: bold;
    padding-top: 24px;
}

.related-links{
    list-style-type: none;
    padding-right: 48px;
    padding-top: 36px;
}

.related-links>li {
    padding: 10px 0;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #208AEC;;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.center {
    text-align: center;
}

.btn{
    width: 150px;
}